.dark {
  --bg-color: rgb(16, 16, 16);
  --inverted-bg-color: #fff;
  --secondary-bg-color: rgb(31, 31, 31);
  --primary-color: #fff;
  --inverted-primary-color: rgb(16, 16, 16);
  --secondary-color: rgb(132, 132, 132);
}