.light{
  --bg-color: rgb(234, 234, 234);
  --inverted-bg-color: #000;
  --secondary-bg-color: #fff;
  --primary-color: #000;
  --inverted-primary-color: #fff;
  --secondary-color: rgb(132, 132, 132);
}